.questionPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.questionText {
  width: 90%;
  margin: 0 auto;
}

.questionText img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.answerOptions {
  display: flex;
  flex-direction: column;
}

.answerOptions button {
  width: 95%;
  max-width: 350px;
  height: 35px;
  border: none;
  border-radius: 12px;
  background-color: rgb(0, 80, 157);
  color: white;
}

.answerOptions button:hover {
  /* background-color: rgb(254, 204, 2); */
  opacity: 0.7;
  cursor: pointer;
  color: white;
}
