.questionPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  text-align: center;
  border: 1px solid black;
}
.questionText {
  display: flex;
  flex-wrap: wrap;
}
.answerOptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px;
}
.answerOptions button {
  width: 350px;
  height: 35px;
  border: none;
  border-radius: 12px;
  background-color: rgb(162, 244, 186);
}

.answerOptions button:hover {
  background-color: rgb(75, 164, 102);
  cursor: pointer;
  color: white;
}
