.feedbackContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  text-align: center;
  border: 1px solid black;
}

.feedbackOptionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 40px;
}

.nextButton {
  width: 200px;
  height: 35px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: rgb(162, 244, 186);
  border: none;
}

.nextButton:hover {
  background-color: rgb(75, 164, 102);
  cursor: pointer;
  color: white;
}

.feedbackButton {
  background-color: gray;
  color: white;
  width: 95%;
  max-width: 350px;
  height: 35px;
  border: none;
  border-radius: 12px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
