.startPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 50px;
  align-content: center;
  text-align: center;
}
.startPage button {
  width: 200px;
  height: 35px;
  margin-top: 30px;
}
.quizInfo {
  gap: 5px;
  text-align: left;
  margin-left: 20px;
}
