.startPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  align-content: center;
  text-align: center;
}

.quizInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  width: 100%;
}
