.summaryContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summaryContainer li {
  list-style: none;
  margin-bottom: 10px;
}
