.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.keepTrack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  width: 100%;
  align-items: center;
}
